body {
	background: white;
	font-family: 'Gotham', book;
	background-image: url("https://images.unsplash.com/photo-1501696461415-6bd6660c6742?auto=format&fit=crop&w=968&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
nav ul{
	display: inline;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-top:10px;
	color: white;

}


h1{
	color: black;
	display: inline;
	
}
p{
	color: white;
	
}
a{
	padding:10px;
	font-size: 20px; 
	color:white ;
}
a:link{
	color:white;
	text-decoration: none;
}
a:visited{
	color:white;
}
.menu:hover{
	color: #FFA987;
	text-decoration: underline;

}


#typed{
	font-family: 'Cookie', cursive;
	
	font-size: 60px;
	
	margin-top: 20%;
	/*height: 70%;*/
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

}
.bottomright {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 25px;
    color: #f46241;
    text-decoration: underline;
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}